body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding-top: 70px;
    align-items: center;
    margin: 0;
    
}

.container {
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
   
}
.container1 {
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    padding-bottom: 70px;
    align-items: center;

    
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #12c479;
}

.profile div {
    text-align: left;
    width: 90%;
}

p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

p strong {
    color: #333;
}