body {
    font-family: Arial, sans-serif;
   
    background-color:rgb(173, 221, 177);
}

form {
    max-width: 100%;
    margin: 10px;
    background: rgb(247, 243, 243);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.info-box {
    background:rgb(191, 226, 163);
    padding: 15px;
    margin-top: 10px;
    border-left: 5px solidrgb(0, 255, 85);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2 {
    text-align: center;
    color: rgb(21, 68, 224);;
    margin-bottom: 20px;
    font-weight: bold;
}
h1 {
    text-align: center;
    color:rgb(21, 68, 224);
    margin-bottom: 20px;
    font-weight: bold;
}


.info-box label {
    font-weight: bold;
    font-size: 16px;
    color: #555;
    display: block;
    margin: 8px;
}
.info-box input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.info-box select {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    box-sizing: border-box;
}
.question {
    border: 1px solid #ddd;
    margin: 10px;
    background:rgb(231, 247, 227);
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 90%; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.question input[type="text"] {
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    margin: 10px;
}
.question label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.reponse {
    margin-left: 80px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.reponse input[type="radio"] {
    transform: scale(1.3);
    cursor: pointer;
}
.btn {
    display: flex;
    justify-content: center;
}
.btn button{
    background-color: #28a745;
    color: white;
    border: none;
    width: 500px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}